.content {
    width: 75%;
}
.content--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header--title {
    color: #526d82;
}
.header--activity{
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Basic styling for clarity */
.recordsTable {
    flex: 1;
    border-collapse: collapse; /* Make table cells collapse into a single border */
    width: 100%;               /* Use the full available width */
    margin-bottom: 20px;       /* Add some space below the table */
}

.recordsTable th,
.recordsTable td {
    border: 1px solid #ddd;   /* Add a subtle border to cells */
    padding: 8px;             /* Add cell padding for visual spacing  */
    text-align: left;         /* Align text to the left by default */
}

.recordsTable th { 
    background-color: #f0f0f0; /* Light gray background for headers */
}

.search-box {
    background: #dde6ed;
    padding: 8px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.search-box input {
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    outline: none;
}

.search-box icon {
    color: #969393;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.content-wrapper {
    width: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
  }
  
div.table-section { 
  flex: 3; 
  margin-right: 20px; 
}
  
div.filters-section {
  flex: 1; 
  display: flex;
  width: 200px;
}