.content {
    width: 90%;
}
.content--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header--title {
    color: #526d82;
}
.header--activity{
    display: flex;
    align-items: center;
    gap: 20px;
}

.content-wrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px; /* Space between the left and right containers */
}

.left-container {
    flex: 0 0 80%;
    display: flex;
    flex-direction: column; /* Arrange table and pagination vertically */
}

.right-container {
    flex: 1; /* Takes up 1 part of the available space */
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* You can add any specific styling for the right section */
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.pagination button {
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
}

.pagination span {
    font-size: 16px;
}

/* Basic styling for clarity */
.recordsTable {
    flex: 1;
    border-collapse: collapse; 
    width: 100%;             
    margin-bottom: 20px;    
}

.recordsTable th,
.recordsTable td {
    border: none; 
    padding: 8px;          
    text-align: left;         
}

.recordsTable th {
    border-bottom: 2px solid #ddd; /* Keep only horizontal borders for headers */
}

.recordsTable tr:not(:last-child) td {
    border-bottom: 1px solid #ddd; /* Add horizontal borders between rows */
}

.recordsTable th { 
    background-color: #ffffff; 
}

.search-box {
    background: #dde6ed;
    padding: 8px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: 13vw;
    margin-bottom: 20px;
}
.search-box input {
    border: none !important;
    outline: none;
    background: transparent;
    padding: 5px;
    outline: none;
}

.search-box icon {
    color: #969393;
    font-size: 22px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.content-wrapper {
    width: 100%;
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
  }
  
div.table-section { 
  flex: 3; 
  margin-right: 20px; 
}
  
div.filters-section {
  flex: 1; 
  display: flex;
  width: 200px;
}

.highlight-red{
    background-color: rgba(212, 133, 133, 0.329);
}

.highlight-yellow{
    color: orange;
}