@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Login Form CSS*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { /* Or a more specific wrapper element if you prefer */
  overflow: hidden;  /* Hide any overflow content */
  height: 100vh;     /* Force the body to fill the viewport */
}

.LoginPage {
    background-color: #D7F3D5;
    min-height: 100vh; /* Ensure full viewport height */
}

.loginFormContainer {
  position: absolute; /* Allow for precise positioning */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the element */
  width: 40%;
  padding: 30px;
  margin-right: 2rem; /* Adjust margin if needed */
}

.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%; 
  }
  
  .loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
  }

  .inputcontainer {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    gap: 30px;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
  }

  .inputBox {
    position: relative;
    width: 250px;
  }

  .inputBox input {
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background: #ffffff;
    outline: none;
    color: black;
    font-size: 18px;
  }

  .inputBox span {
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    transition: 0.5s;
  }

  
  .inputBox input:valid ~ span,
  .inputBox input:focus ~ span {
    color: #000000;
    transform: translateX(10px) translateY(-7px);
    font-size: 11px;
    padding: 0 10px;
    background-color: #ffffff;
    border-left: 1px solid #000000;
    border-right: 1px solid #000000;
  }

  .loginForm button {
    margin-top: 15px;
    background-color: #55BA5F; /* Red color */
    color: white; /* White text color */
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 50px; /* Padding around the text */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Text size */
    cursor: pointer; /* Indicate interactivity on hover */
  }

  .loginButton:hover {
    background-color: #49A052; /* Darker red on hover */
  }
  
  .loginPage img {
    width: 8rem;  /* Adjust the size as needed */
    height: auto;
    margin-bottom: 5px; /* Space below the logo */
  }

  .SACLOGO { 
    margin-bottom: 20px;
    text-align: center; 
  }

  .roleSelect {
    background-color: #fffafa;
    border: 1px solid #cccccc;
    border-radius: 4px;
    padding: 10px 40px 10px 12px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    transition: border-color 0.3s;
  }