@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Login Form CSS*/

.LoginPage {
    background-color: #D7F3D5;
    display: flex; /* Use flexbox for layout */
    min-height: 100vh; /* Ensure full viewport height */
}


.loginFormContainer {
    position: relative; /* Needed for absolute positioning of form */
    width: 40%;  /* Form takes up half the screen horizontally */
    padding: 30px;
    margin-right: 2rem;
}

.loginPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%; 
  }
  
  .loginForm {
    padding: 30px;
    display: flex; /* Allow for easy alignment*/
    flex-direction: column; /* Stack items vertically */
    align-items: center;  
    font-size: 16px;
  }

  .loginForm input {
    padding: 15px; 
    width: 400px;
    margin-bottom: 10px; 
    border: 0px;
    border-radius: 20px; 
    margin-left: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px; 
  }

  .loginForm button {
    margin-top: 15px;
    background-color: #55BA5F; /* Red color */
    color: white; /* White text color */
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    padding: 20px 50px; /* Padding around the text */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Text size */
    cursor: pointer; /* Indicate interactivity on hover */
  }

  .loginButton:hover {
    background-color: #49A052; /* Darker red on hover */
  }
  
  .loginPage img {
    width: 8rem;  /* Adjust the size as needed */
    height: auto;
    margin-bottom: 5px; /* Space below the logo */
  }

  .loginDesign {
    display: flex; 
    justify-content: left; 
    align-items: left; 
  }

  .loginDesign img {
    max-height: 100vh; /* Image fits vertically within its container */
    max-width: 100%;  /* Preserves aspect ratio */
  }
